@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --sidebar-width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --sidebar-width: 25vw;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
}

@layer components {
  .container {
    width: min(100% - 1.5rem, 85rem);
    margin-inline: auto;
  }

  .hamb-menu__transition {
    transition: opacity 750ms ease-in 0.25ms;
  }
}

@layer utilities {
}
